@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }
  body {
    @apply relative overflow-x-hidden
  }
}

.hero-section::after {
  content: '';
  @apply absolute top-0 right-0 md:translate-x-1/2 lg:translate-x-[15%] w-full md:w-1/2 h-full bg-brand-red z-0
}

.poez {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.shadow-custom {
  box-shadow: 0px 4px 15px 0px #0000001F;
}

.custom-div {
  background-color: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #0000001F;
}
.custom-div::before {
  content: '';
  background-color: white;
  transform: translateY(-50%);
  box-shadow: inset -10px 0 15px 0px #0000001F;
  @apply rounded-full absolute size-[75px] md:size-[108px] -translate-x-1/2 top-1/2 -translate-y-1/2
}